nav{
    background-color: #1e381a;
}

.nav-link{
    color: rgb(161, 161, 161);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.nav-link:hover{
    color: rgb(0, 73, 0);
}

#logo{
    color: rgb(180, 180, 180);
}

#dark{
    color: rgb(180, 180, 180);
}

a{
    margin: 0 4vh;
    text-align: center;
}

#banner{
    text-align: center;
    margin-top: 2%;
}

.banner-image{
    width: 40vw;
}

body{
    background-color: rgb(172, 172, 172);
}

.container{
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.row{
    background-color: rgb(172, 172, 172);
}

.card{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0;
    text-align: center;
}

.card-img-top{
    border-radius: 0%;
    min-height: 25vh;
    max-height: 25vh;
}

.card-body{
    background-color: #0b3013;
    color: rgb(161, 161, 161);
}

#contactInfo{
    font-size: large;
}

.modal-content{
    background-color: #071f09;
    color: rgb(161, 161, 161);
}

.table{
    color: rgb(161, 161, 161);
}

.btn-close{
    background-color: rgb(161, 161, 161);
}

.form-check{
    text-align: left;
}

.form-text{
    color: rgb(161, 161, 161);
}

.form-control{
    background-color: rgb(190, 190, 190);
}

#skittle{
    width: 100%;
    height: 70%;
}

.btn{
    margin-top: 2vh;
    background-color: #539b5f;
    color: rgb(211, 209, 209);
    border: 0;
}

.btn:hover{
    background-color: #2e9140;
}

#map{
    height: 100%;
    width: 100%;
}

footer{
    background-color: #071f09;
    color: rgb(211, 209, 209);
}

p{
    margin: 0;
}

