.nav-link{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.nav-link:hover{
    color: rgb(0, 73, 0);
}

a{
    margin: 0 4vh;
    text-align: center;
}

#banner{
    text-align: center;
}

.banner-image{
    width: 100vw;
}


#cards{
    text-align: center;
}

.card-img-top{
    border-radius: 0%;
    min-height: 40%;
    max-height: 40%;
}

.card-title{
    color: rgb(27, 27, 27);
}

footer{
    background-color: #0C3710;
    color: white;
}

p{
    margin: 0;
}
